{% extends 'credentials/programs/base.html' %}
{% load i18n %}
{% load i18n_assets %}
{% load django_markup %}
{% load static %}

{% block styles %}
  {% if LANGUAGE_BIDI %}
    <link href='{% static "edx.org/css/edx.org.certificate.style-rtl.css" %}' rel='stylesheet' type='text/css'/>
    <link href='{% static "edx.org/css/edx.org.base.style-rtl.css" %}' rel='stylesheet' type='text/css'/>
  {% else %}
    <link href='{% static "edx.org/css/edx.org.certificate.style-ltr.css" %}' rel='stylesheet' type='text/css'/>
    <link href='{% static "edx.org/css/edx.org.base.style-ltr.css" %}' rel='stylesheet' type='text/css'/>
    {% endif %}
{% endblock %}

{% block background_watermark %}
  {% include 'edx.org/images/watermark.svg' %}
{% endblock %}

{% block background_logo %}
  {% include 'edx.org/images/'|add:program_type|add:'-logo.svg'|translate_file_path %}
{% endblock %}

{% block certificate_metadata %}
  <div class="wrapper-accomplishment-metadata">
    <div class="accomplishment-metadata">
    </div>
  </div>
{% endblock %}

{% block platform_logo %}
  <a class="logo" href="{{ site.siteconfiguration.lms_url_root }}">
    <img class="edx-logo" src="{{site_logo_url}}" alt="{% firstof platform_name site.name %}" />
  </a>
{% endblock %}
