{% load i18n %}
{% load static %}

<div class="wrapper-footer">
  <footer class="footer-app small" role="contentinfo">
      <div class="footer-app-legal">
          <div class="copyright-trademarks">
              <p class="copy">
                  <span class="copyright">Copyright &copy; {% now "Y" %}
                      <a href="{{ site.siteconfiguration.homepage_url }}">{{ site.siteconfiguration.company_name }}</a>
                  </span>
                  {% trans "All rights reserved." as tmsg%}
                  {{ tmsg | force_escape }}
              </p>
          </div>
      </div>
      
  </footer>
</div>
